<div class="banner">
  <a href="http://software-carpentry.org" title="Software Carpentry">
    <img alt="Software Carpentry banner" src="{{site.swc_site}}/img/software-carpentry-banner.png" />
  </a>
  <a href="http://data-carpentry.org" title="Data Carpentry">
    <img alt="Data Carpentry banner" src="img/DC1_logo.png" />
  </a>
    <a href="https://www.elixir-europe.org/about/elixir-switzerland" title="ELIXIR CH">
    <img alt="ELIXIR CH logo" src="img/elixir_ch_logo.png" />
  </a>
    <a href="http://elixir-uk.org/" title="ELIXIR UK">
    <img alt="ELIXIR UK logo" src="img/ELIXIR_UNITEDKINGDOM_white_background.png" />
  </a>
</div>
